<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://facebook.com/VanNgocBlake" class="btn">FB : Văn Hoàng</a>
  <a href="https://facebook.com/nobinguyen.producer" class="btn">FB : Nguyễn Hiếu</a>
  <a href="https://blog.nhstudiovn.xyz/" class="btn">NH Blog</a>
  <a href="https://www.youtube.com/channel/UCeug21nxHUc-DPnFgB0_DzQ" class="btn">YouTube : NH Media</a>
  <a href="https://www.youtube.com/channel/UCRZzQY9KuX5zvx3HkMpGopw" class="btn">YouTube : B L Λ K Ξ ™</a>
</section>
